.calendar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.calendar-container {
  flex: 1;
  height: 100%;
}

.calendar {
  width: 100%;
  height: 100%;
  border: 2px solid #F38223;
  font-family: sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 10px;
  background-color: #E9EFFC;
  font-weight: bold;
  flex-shrink: 0;
}

.calendar-header button {
  background: #ddd;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  border-radius: 4px;
}

.calendar-header button:hover {
  background: #ccc;
}

.calendar-day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 30px;
  flex-shrink: 0;
}

.calendar-day-name {
  text-align: center;
  font-weight: bold;
  padding: 6px;
  background-color: #f5c8b5;
  border: 1px solid #eee;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  flex: 1;
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
}

.calendar-day {
  padding: 6px;
  border: 1px solid #e5dddd;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 0;
  position: relative;
}

.calendar-day.empty {
  background: #dedede;
}

.calendar-day.today {
  background: #d0f0ff;
  border: 1px solid #00aaff;
}

.calendar-day > span {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 2px;
}

.event {
  background: #007bff;
  color: white;
  margin-top: 3px;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.75em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.event:hover {
  background: #0056b3;
}

.events-container {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  margin-top: 3.5px;
}

.calendar-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.calendar-modal {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.calendar-modal h3 {
  margin-top: 0;
  font-size: 1.2rem;
  text-align: center;
}

.calendar-modal ul {
  padding-left: 1rem;
}

.calendar-modal button {
  margin-top: 1rem;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}
